* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0fff5;
    padding: 15px;
}

.register-card {
    width: 100%;
    max-width: 420px;
    background: white;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.icon {
    text-align: center;
    font-size: 42px;
    color: #00a86b;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
}

p {
    text-align: center;
    font-size: 14px;
    color: #666;
}

/* LED STATUS */
.led-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

.led {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: red;
    box-shadow: 0 0 5px red;
}

.led.green {
    background: #00ff6a;
    box-shadow: 0 0 8px #00ff6a;
}

.led.red {
    background: red;
    box-shadow: 0 0 8px red;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #f7f7f7;
}

.fingerprint {
    display: flex;
    gap: 10px;
}

.fingerprint button {
    padding: 10px 15px;
    background: #00a86b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

small {
    font-size: 12px;
    color: #777;
}

.register-btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: linear-gradient(to right, #000, #222);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login {
    text-align: center;
    margin-top: 15px;
}

.login a {
    color: #00a86b;
    text-decoration: none;
}

/* MOBILE */
@media (max-width: 480px) {
    .fingerprint {
        flex-direction: column;
    }
}
